/* styles.css */

body {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/505/189/268/clear-sky-sky-blue-stars-4k-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1.serio {
  text-align: center;
  color: #222;
  font-size: 48px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #F5F5F5;
}

figure img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  width: 400px;
  height: 400px;
}

nav a {
  color: #125;
  font-size: 18px;
  text-decoration: none;
  margin: 0 25px;
  transition: color 0.3s ease;
  vertical-align: middle;
}

nav a:hover {
  color: #FF4500;
}

nav a i.fa-brands {
  font-size: 40px;
}

.details-container {
  border: 4px solid #FFA07A; /* Cambia el ancho y el color de las líneas de enmarcado */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 100px;
}

h2 {
  margin-bottom: 10px;
}

.details-container h2:first-child {
  margin-bottom: 50px;
}

details > summary {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

details > summary:focus {
  outline: none;
}

details > summary::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px; /* Ajusta el grosor de las líneas de enmarcado */
  background-color: #000000; /* Cambia el color de las líneas de enmarcado */
}

.details-icon::before {
  content: "\f078";
  font-family: "Font Awesome\ 5 Brands";
  font-weight: 900;
  margin-right: 5px;
}

footer {
  background-color: #333;
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
}

footer p {
  margin: 3px;
  line-height: 1.2;
}

.skills-container {
  background-image: url("https://pbs.twimg.com/media/F03KFndXoAQr3Up?format=png&name=900x900");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
}

.skills-container h2 {
  color: #FFFFFF; /* Color del texto en negro */
  margin-bottom: 50px;
}

.skills-container h2 em {
  font-weight: bold; /* Texto en negrita */
}

.skills-container p {
  color: #FFFFFF; /* Color del texto en negro */
}


.details-container.skills-container progress {
  width: 150px; /* Ancho de la barra de progreso */
  height: 10px; /* Altura de la barra de progreso */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #6BB56B; /* Color azul menos intenso para las barras de progreso */
  margin-top: 10px; /* Espacio entre el texto y la barra de progreso */
}

.details-container.skills-container progress::-webkit-progress-value {
  background-color: #6BB56B; /* Color azul para las barras de progreso en navegadores WebKit (Chrome, Safari) */
}

.details-container.skills-container progress::-moz-progress-bar {
  background-color:  #6BB56B; /* Color azul para las barras de progreso en navegadores Gecko (Firefox) */
}

.details-container.skills-container progress::-ms-fill {
  background-color:  #6BB56B; /* Color azul para las barras de progreso en navegadores que admiten -ms-fill (Microsoft Edge) */
}

.skills-container p {
  margin-right: 50px; /* Espacio entre el texto y la barra de progreso */
  margin-bottom: 10px; /* Separación entre el texto y las barras de progreso */
}

.interests-container {
  background-image: url("https://pbs.twimg.com/media/F03KKshWAAAaIFE?format=jpg&name=900x900");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
}


