/* styles.css */

body {
  background: linear-gradient(45deg, #F4F4F4, #B0C4DE);
  margin: 10px;
}

h1 {
  text-align: center;
  color: #211;
  font-size: 36px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

figure img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  width: 400px;
  height: 400px;
}

nav a {
  color: #125;
  font-size: 18px;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FF4500;
}

nav a i.fa-brands {
  font-size: 40px;
}

.details-container {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

details > summary {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px; /* Agrega margen inferior */
}

details > summary:focus {
  outline: none;
}

details > summary::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.details-icon::before {
  content: "\f078";
  font-family: "Font Awesome\ 5 Brands";
  font-weight: 900;
  margin-right: 5px;
}

footer {
  background-color: #333;
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
}

footer p {
  margin: 3px;
  line-height: 1.2;
}
